<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.rsmu.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RSMU</name>
    <description>
        App for RSMU
    </description>
    <author email="zeronerorgb@gmail.com" href="http://rsmu.ru/">
        zeronerorgb@gmail.com
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="market:*"/>
	<access origin="*"/>
    <plugin name="cordova-plugin-whitelist" spec="1.2.2"/>
    <platform  name="ios">
        <icon src="icon.png" />
    </platform>
    <platform  name="android">
        <icon src="icon.png" />
    </platform>
</widget>
